# python files
/venv
/venv-ipynb
/venv-jpty
__pycache__/
*.py[cod]

# env files
**/.env*
!**/.env.example

# data
*.xlsx#
*.zip
*.odt
lora-finetuned-test-model/
400-completion-tasks-distilGPT2/
data/mccray/changed_data/backup/

*.bin
*.pt


my_files/

# logs
llm_tuning/logs/

# ocr data
ocr_rescan/documents/
ocr_rescan/contentdm_harvester.ipynb
ocr_rescan/contentdm_download_*.ipynb
*.~lock*

# dev settings
.vscode

