# python files
/venv
/venv-ipynb
/venv-jpty
/demo/backend/venv*
__pycache__/
*.py[cod]

# env files
**/.env*
!**/.env.example

# data
*.xlsx#
*.zip
*.odt
lora-finetuned-test-model/
400-completion-tasks-distilGPT2/
data/mccray/changed_data/backup/

*.bin
*.pt

data/mccray/bin

my_files/

# logs
fine_tuning/logs/
fine_tuning/slurm_scripts/logs/


# ocr data + csvs
ocr_rescan/documents/
ocr_rescan/contentdm_harvester.ipynb
ocr_rescan/contentdm_download_*.ipynb
*.~lock*
data_handling/*.csv
data_handling/*.xlsx

# dev settings
.vscode

# IGNORE CSV FILES IN split_data subfolder
data/mccray/split_data/h1_split/*
data/mccray/split_data/h2_split/*
data/simkins/split_data/h1_split/*
data/simkins/split_data/h2_split/*
data/*/split_data/h1_split/*
data/*/split_data/h2_split/*
.ds_store

# TEMP - remove in merge conflict later
/demo/react-frontend/