/venv
/venv-ipynb
/venv-jpty
*.xlsx#
*.zip
*.odt
__pycache__/
*.py[cod]
.env
*.csv

lora-finetuned-test-model/
400-completion-tasks-distilGPT2/

*.bin
*.pt
data/mccray/backup/
data/mccray/changed_data/backup/
data_handling/notebooks/data-flag.html

transcript-reviewer-app/
ocr_cleaner_app/
my_files/