# Require bedrock:InvokeModel on imported model ARNs
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# OpenAI
OPENAI_API_KEY=

# Folder for local huggingface models
LOCAL_MODEL_FOLDER="./"

# Data folder for retrieval source and question CSV files
DATA_FOLDER="./"
