
# Absolute path for models to be stored and retrieved. This includes pre-trained models.
# If you need to make a distinction between pre-trained and post-trained models, just append
# "pretrained/" to the model name in the pipeline configs and match that structure in the folder.
MODEL_FOLDER="/..."

# Absolute path for intermediate models to be stored
MODEL_DUMP="/..." 